/*home*/
#maincont {
    background-color: #FFFFFF;
  }

  #subconti {
    border: solid 0.3rem #001524;
    margin: 1.5rem;
    padding: 2rem;
}
#logo01{
    font-family: 'Francois One', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color: #001524;
}
#navb{
    font-family: 'Lexend', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color: #001524;
    border: none;
    background-color: #FFFFFF;
}
#mod02{
    color: #CC2936;
}
#intro{
    font-size: 3rem;
    color: #001524;
    font-family: 'Lexend', sans-serif;
    font-weight: 800;
}
#whatido{
    font-size: 2rem;
    color: #001524;
    font-family: 'Lexend', sans-serif;
    font-weight: 800;
}
#andiluvit{
    font-size: 1.3rem;
    color: #001524;
    font-family: 'Lexend', sans-serif;
    font-weight: 800;
}
#elems:hover span{
    color: #CC2936 !important;
}
#natitle{
    font-size: 1.7rem;
    font-weight: 900;
    color: #001524;
    font-family: 'Lexend', sans-serif;
}
#elems{
    color: #001524;
    font-family: 'Lexend', sans-serif;
    font-weight: bolder;
    font-size: 1.3rem;
}
a{
    text-decoration: none;
    color: #001524;
}
a:hover{
    color: #001524 !important;
}
/*about*/
#maincont02{
    display: flex;
    align-items: center;
    font-size: 2rem;
    
    height: 100hv;
    font-weight: 600;
    color: #001524;
    }
#textbox{
    height: 3rem;
    margin: auto;
    overflow: hidden;
}
#textbox ul{
    margin: 0 0.625rem;
    padding: 0;
    animation: movetext 7s infinite;
}
#textbox ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    list-style: none;
}
@keyframes movetext{
    15%,
    25%{
        transform: translateY(-25%);
    }
    40%,
    50%{
        transform: translateY(-50%);
    }
    60%,
    80%{
        transform: translateY(-75%);
    }
}

#subsubconti03{
    font-weight: 100;
}
#title03{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #001524;
}

#title04{
    font-family: 'Lexend', sans-serif;
    font-size: 2rem;
    color: #001524;
}
#mod01, #mod06, #mod07 {
    color: #CC2936;
}

#About {
    background-color: #B8BAC8;
}

#subabout{
    font-size: x-large;
    color: #001524;
}

#quote{
    font-size: larger;
    font-style: italic;
    color: #001524;
}
/*skills and tools*/
#html1,
#figma1,
#css11,
#bootstrap11,
#javascript11,
#visual-studio-code11,
#git1
{
    width: 10rem;
}
#figmacontent,
#htmlcontent,
#csscontent,
#bootstrapcontent,
#jasccontent,
#vscontent,
#gitcontent{
    background-color: rgb(190, 190, 190);
    font-family: 'Lexend', sans-serif;
    font-weight: 700;
    font-size: 1.15rem;
}
#figmalogo,
#htmllogo,
#csslogo,
#bootsrtaplogo,
#jasclogo,
#vslogo,
#gitlogo{
    background-color: #9f9f9f;
}
/*timeline*/
#line{
    width: 0.3rem;
    height: 50rem;
    background-color: #000000;
}
#button01{
    width: 2rem;
    height: 2rem;
    background-color: #FF7D00;
    border: solid #CC2936 0.4rem;
    border-radius: 100%;
    top: 10rem;
    left: -0.8rem;
}
#button01:hover{
    border-radius: 20%;
    transition: border-radius 0.3s;
}
#button02:hover{
    border-radius: 20%;
    transition: border-radius 0.3s;
}
#button02{
    width: 2rem;
    height: 2rem;
    background-color: #FF7D00;
    border: solid #CC2936 0.4rem;
    border-radius: 100%;
    top: 35rem;
    left: -0.8rem;
}
/*timeline iteam-1*/
#iteam01{
    width: 30rem;
    height: auto;
    left: 5rem;
    top: 4rem;
    border: solid #15616D 0.3rem;
    border-radius: 1rem;
    display: none;
}
#iteam1des{
    font-family: 'Lexend', sans-serif;
    font-weight: 700;
    font-size: 1.15rem;
    background-color: #9f9f9f;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}

#item1imgcont{
    width: auto;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
#item1img{
    width: 100%;
    border-radius: 1rem;
    transition: 6 all ease-in;
}
#item1imgcont:hover img{
    transform: scale(1.5);
}
#iteam1title{
    font-family: 'Roboto', sans-serif;
    color: #001524;
    font-weight: 700;
    font-size: 2.15rem;
    top: 9.5rem;
    left: 10rem;
    width: max-content;
}
#iteam1title:hover{
    cursor: pointer;
}
/*timeline iteam-2*/
#iteam2title{
    font-family: 'Roboto', sans-serif;
    color: #001524;
    font-weight: 700;
    font-size: 2.15rem;
    top: 34.4rem;
    left: -20rem;
    width: max-content;
}
#iteam2title:hover{
    cursor: pointer;
}
#iteam02{
    width: 30rem;
    height: auto;
    left: -35rem;
    top: 30rem;
    border: solid #15616D 0.3rem;
    border-radius: 1rem;
    display: none;
}
#iteam2des{
    font-family: 'Lexend', sans-serif;
    font-weight: 700;
    font-size: 1.15rem;
    background-color: #9f9f9f;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}

#item2imgcont{
    width: auto;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
#item2img{
    width: 100%;
    border-radius: 1rem;
    transition: 6 all ease-in;
}
#item2imgcont:hover img{
    transform: scale(1.5);
}