#maincont {
    width: 100%;
    background: linear-gradient(45deg, #BBBEB9, #979797, #7e7e7e, #BBBEB9);

}

#maincont02{
    display: flex;
    align-items: center;
    font-size: 2rem;
    height: 100hv;
    font-weight: 600;
    }
    #textbox{
        height: 3rem;
        margin: auto;
        overflow: hidden;
    }
    #textbox ul{
        margin: 0 0.625rem;
        padding: 0;
        animation: movetext 7s infinite;
    }
    #textbox ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
        list-style: none;
    }
@keyframes movetext{
    15%,
    25%{
        transform: translateY(-25%);
    }
    40%,
    50%{
        transform: translateY(-50%);
    }
    60%,
    80%{
        transform: translateY(-75%);
    }
}
#subconti {
    border: solid 0.3rem black;
    margin: 1.5rem;
    padding: 2rem;
}

#subsubconti03{
    font-weight: 100;
}

#title01, #title02 {
    color: black;
    font-family: 'Lexend', sans-serif;
    font-weight: 700;
}

#title03{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

#title04{
    font-size: 2rem;
}

#logo01,
#logo02 {
    color: black;
    font-weight: 900;
    font-family: 'Lexend', sans-serif;
}

#listelem {
    text-decoration: none;
    color: black !important;
}

#mod01, #mod06, #mod07 {
    color: rgb(204, 0, 0);
}

#mod02:hover span, #mod03:hover span, #mod04:hover span, #mod05:hover span {
    color: rgb(204, 0, 0) !important;
}

#About {
    background-color: #BBBEB9;
}

#subabout{
    font-size: x-large;
    color: black;
}

#quote{
    font-size: larger;
    font-style: italic;
}
#html1,
#figma1,
#css11,
#bootstrap11,
#javascript11{
    width: 10rem;
}
#figmacontent,
#htmlcontent,
#csscontent,
#bootstrapcontent,
#jasccontent{
    background-color: rgb(221, 223, 220);
}
#figmalogo,
#htmllogo,
#csslogo,
#bootsrtaplogo,
#jasclogo{
    background-color: #c8cbc6;
}