.containerMain{
    width: 800px;
    background: #2e2e2ea9;
    height: auto;
    border-radius: 25px;
    font-family: "Roboto Flex", sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 20px 0px 20px;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
}
.container,
.image{
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes slideInRight {
    from {
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
}
.container{
    display: flex;
    flex-direction: column;
}
.image{
    width: 300px;
    opacity: 0.5;
    position: absolute;
    top: -4%;
    right: -3%;
    object-fit: contain;
    rotate: 16deg;
    filter: blur(1px);
}
.role{
    font-family: "Rowdies", sans-serif;
    font-size: 36px;
    width: 500px;
}
.time{
    font-size: 20px;
    font-weight: lighter;
    width: 500px;
}
.des{
    line-height: 134.2%;
    margin-top: 16px;
    width: 500px;
}
.marginleftright{
    margin-left: 26px;
    margin-right: 26px;
}

@media only screen and (max-width: 600px){
    .role{
        font-size: 26px;
    }
    .des{
        font-size: 13px;
        width: 200px;
    }
    .time{
        font-size: 10px;
    }
    .containerMain{
        width: 260px;
    }
    .image{
        width: 150px;
        top: 25%;
    }
    .marginleftright{
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 600px){
    .role{
        font-size: 26px;
    }
    .des{
        font-size: 14px;
        width: 400px;
    }
    .time{
        font-size: 10px;
    }
    .containerMain{
        width: 560px;
    }
    .image{
        width: 150px;
        top: 10%;
    }
    .marginleftright{
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media only screen and (min-width: 768px){
    .role{
        font-size: 26px;
    }
    .des{
        font-size: 16px;
    }
    .time{
        font-size: 13px;
    }
    .container{
        margin-left: 21px;
    }
    .containerMain{
        width: 650px;
    }
    .image{
        width: 200px;
        top: 10%;
    }
    .marginleftright{
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media only screen and (min-width: 992px) {
    .container{
        margin-left: 31px;
    }
    .des{
        font-size: 16px;
        width: 500px;
    }
    .containerMain{
        width: 800px;
    }
    .image{
        width: 300px;
        top: -4%;
    }
    .marginleftright{
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media only screen and (min-width: 1200px){
    .container{
        margin-left: 0px;
    }
    .role{
        font-size: 36px;
    }
    .des{
        font-size: 20px;
        width: 500px;
    }
    .time{
        font-size: 20px;
    }
    .containerMain{
        width: 800px;
    }
    .image{
        width: 300px;
        top: -4%;
    }
    .marginleftright{
        margin-left: 25px;
        margin-right: 25px;
    }
}