.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.innercontainer{
  width: 800px;
  height: 100px;
  background-color: #2e2e2ea9;
  border-radius: 20px;
  position: relative;
  overflow-y: hidden;
}
.styleimage{
  width: 150px;
  opacity: 0.4;
  position: absolute;
  top: -10%;
  filter: blur(1.4px);
  right: 5%;
  object-fit: contain;
  rotate: 25deg;
}
.username{
  position: relative;
  color: white;
  font-size: 28px;
  top: 30%;
  margin-left: 30px;
}