.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.innercontainer{
  width: 400px;
  height: 100px;
  background-color: #2e2e2ea9;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.styleimage{
  width: 140px;
  opacity: 0.4;
  position: absolute;
  top: -10%;
  filter: blur(1.4px);
  right: 5%;
  object-fit: contain;
  rotate: 25deg;
}
.username{
  position: relative;
  color: white;
  font-size: 28px;
  top: 30%;
  margin-left: 25px;
}
.styleimage,
.username{
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes slideInRight {
    from {
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
}
@media only screen and (max-width: 600px){

}
@media only screen and (min-width: 600px){
  .innercontainer{
    width: 300px;
  }
}
@media only screen and (min-width: 768px){

}
@media only screen and (min-width: 992px){
  .innercontainer{
    width: 400px;
  }
}
@media only screen and (min-width: 1200px){

}