.bordercontain1,
.bordercontain2,
.bordercontain3,
.bordercontain4,
.bordercontain5,
.bordercontain6{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bordercontain1 a,
.bordercontain2 a,
.bordercontain3 a,
.bordercontain4 a,
.bordercontain5 a,
.bordercontain6 a{
  text-decoration: none;
}
.bordercontain1:hover,
.bordercontain2:hover,
.bordercontain3:hover,
.bordercontain4:hover,
.bordercontain5:hover,
.bordercontain6:hover{
  border-radius: 25px;
  transform: scale(1.05);
}
.bordercontain1:hover{
  border: solid #046fa7 6px;
}
.bordercontain2:hover{
  border: solid #eaeaea 6px;
}
.bordercontain3:hover{
  border: solid #d74134 6px;
}
.bordercontain4:hover{
  border: solid #eaeaea 6px;
}
.bordercontain5:hover{
  border: solid #a4328a 6px;
}
.bordercontain6:hover{
  border: solid #000000 6px;
}
.subcontain{
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 600px){
  .subcontain{
    flex-direction: column;
  }
}