.maincontainer{
    width: 899px;
    height: 292px;
    background: #2e2e2ea9;
}
.radius{
    border-radius: 25px;
}
.color{
    color: white;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flex2{
    display: flex;
    justify-content: space-between;
}
.margin{
    margin-top: 22px;
}
.margin16px{
    margin-top: 16px;
}
.robotoflex{
    font-family: "Roboto Flex", sans-serif;
}
.semibold{
    font-weight: 600;
}
.font40px{
    font-size: 41px;
}
.questrial{
    font-family: "Questrial", sans-serif;
}
.margin53px{
    margin-left: 53px;
}
.margin43px{
    padding-top: 43px;
}
.lineheight{
    line-height: 134.2%;
}
.font25px{
    font-size: 30px;
}
.button{
    width: 178px;
    height: 53px;
    background: #ED3D3D;
    border: none;
    color: white;
    border-radius: 26px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-right: 52px;
    margin-top: 40px;
}
@media only screen and (max-width: 600px){
    .maincontainer{
        width: 330px;
        height: 192px;
    }
    .font40px{
        font-size: 21px;
    }
    .font25px{
        font-size: 15px;
    }
    .margin53px{
        margin-left: 15px;
    }
    .margin43px{
        padding-top: 15px;
    }
    .button{
        width: 98px;
        height: 33px;
        font-size: 10px;
        margin-top: 15px;
    }
    .flex2{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (min-width: 600px){
    .maincontainer{
        width: 600px;
        height: 192px;
    }
    .font40px{
        font-size: 21px;
    }
    .font25px{
        font-size: 15px;
    }
    .margin53px{
        margin-left: 15px;
    }
    .margin43px{
        padding-top: 15px;
    }
    .button{
        width: 98px;
        height: 33px;
        font-size: 10px;
        margin-top: 15px;
    }
    .flex2{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (min-width: 1200px){
    .maincontainer{
        width: 899px;
        height: 292px;
    }
    .font40px{
        font-size: 41px;
    }
    .font25px{
        font-size: 30px;
    }
    .margin53px{
        margin-left: 53px;
    }
    .margin43px{
        padding-top: 43px;
    }
    .button{
        width: 178px;
        height: 53px;
        font-size: 20px;
        margin-top: 40px;
    }
    .flex2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}