.img{
    object-fit: cover;
    width: auto;
    max-width: 535px;
    height: auto;
    max-height: 619px;
    border-radius: 25px;
}
@media only screen and (max-width: 600px){
    .img{
        width: 330px;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 600px){

}

@media only screen and (min-width: 992px) {
    .img{
        width: auto;
    }
}

@media only screen and (min-width: 1200px){
    .img{
        width: 530px;
    }
}