.maincontainer{
    width: 899px;
    height: 620px;
    background: rgb(241,241,241);
    background: linear-gradient(90deg, rgba(241,241,241,1) 38%, rgba(219,190,171,1) 100%);
    animation: gradient 5s infinite;
}
@keyframes gradient {
    0% {
      background-position: 38% 100%;
    }
    50% {
      background-position: 50% 50%;
    }
    100% {
      background-position: 100% 38%;
    }
  }
.radius{
    border-radius: 25px;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.margin{
    margin-left: 40px;
    margin-top: 22px;
}
.margin16px{
    margin-top: 16px;
}
.robotoflex{
    font-family: "Roboto Flex", sans-serif;
}
.semibold{
    font-weight: 600;
}
.font40px{
    font-size: 40px;
}
.questrial{
    font-family: "Questrial", sans-serif;
}
.margin53px{
    margin-left: 53px;
}
.margin43px{
    padding-top: 43px;
}
.lineheight{
    line-height: 134.2%;
}
.font25px{
    font-size: 25px;
}
.button{
    width: 215px;
    height: 63px;
    background: black;
    border: none;
    color: white;
    border-radius: 26px;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 43px;
}