.maincontainer{
    width: 899px;
    height: 292px;
    background: #2E2E2E
}
.radius{
    border-radius: 25px;
}
.color{
    color: white;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flex2{
    display: flex;
    justify-content: space-between;
}
.margin{
    margin-top: 22px;
}
.margin16px{
    margin-top: 16px;
}
.robotoflex{
    font-family: "Roboto Flex", sans-serif;
}
.semibold{
    font-weight: 600;
}
.font40px{
    font-size: 41px;
}
.questrial{
    font-family: "Questrial", sans-serif;
}
.margin53px{
    margin-left: 53px;
}
.margin43px{
    padding-top: 43px;
}
.lineheight{
    line-height: 134.2%;
}
.font25px{
    font-size: 30px;
}
.button{
    width: 178px;
    height: 53px;
    background: #ED3D3D;
    border: none;
    color: white;
    border-radius: 26px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-right: 52px;
    margin-top: 40px;
}