.contain{
    width: 440px;
    height: 307px;
    background-color: #2E2E2E;
    border-radius: 25px;
}
.flex{
    display: flex;
}
.justifybtwn{
    justify-content: space-between;
}
.margintop20px{
    padding-top: 20px;
}
.robotoflex{
    font-family: "Roboto Flex", sans-serif;
}
.white{
    color: white;
}
.bold{
    font-weight: 600;
}
.fontsize{
    font-size: 26px;
}
.light{
    font-weight: lighter;
}
.map{
    width: 400px;
    height: 210px;
    border-radius: 15px;
    margin-top: 20px;
}
.mapcontain{
    display: flex;
    justify-content: center;
    align-items: center;
}