.flex{
    display: flex;
}
.fontsize{
    font-size: 24px;
}
.lexend{
    font-family: "Lexend Tera", sans-serif;
}
.justifybtwn{
    justify-content: center;
}
.aligncenter{
    align-items: center;
}
.square{
    width: 46px;
    height: 46px;
    background: #ED3D3D;
}
.radius{
    border-radius: 100%;
}
.fixed{
    position: fixed;
}
.deco{
    text-decoration: none;
    color: black;
}
.margin{
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 40px;
}
.bold{
    font-weight: bold;
}
.gap{
    gap: 40px;
}
.marginleft{
    margin-left: 14px;
}
.pointer{
    cursor: pointer;
}
.fontsize2{
    font-size: 20px;
}
.flexlogo{
    display: flex;
}

@media only screen and (max-width: 600px){
    .flex{
        flex-direction: column;
    }
    .flexlogo{
        justify-content: center;
        align-items: center;
    }
    .gap3{
        gap: 40px;
    }
}

@media only screen and (min-width: 600px){
    .flex{
        flex-direction: column;
    }
    .flexlogo{
        justify-content: center;
        align-items: center;
    }
    .gap3{
        gap: 40px;
    }
}

@media only screen and (min-width: 992px){
    .flex{
        flex-direction: row;
    }
}