.container{
  width: 800px;
  height: 361px;
  background: #2e2e2ea9;
  border-radius: 25px;
}
.Title{
  color: white;
  font-family: "Roboto Flex", sans-serif;
  margin-top: 22px;
  margin-left: 32px;
}
.imgcontain{
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin-top: 35px;
  flex-direction: column;
}
.icons img{
  width: 95px;
  margin-left: 60px;
  margin-right: 60px;
}
@media only screen and (max-width: 600px){
  .container{
    width: 300px;
    margin: 0px 20px 0px 20px;
    height: auto;
    padding: 0px 0px 20px 0px;
  }
  .icons img{
    width: 50px;
    margin: 0px;
    display: flex;
    gap: 30px;
  }
  .imgcontain{
    flex-direction: row;
  }
}

@media only screen and (min-width: 600px){
  .container{
    width: 500px;
    margin: 0px 20px 0px 20px;
    height: auto;
    padding: 0px 0px 20px 0px;
  }
  .icons img{
    width: 50px;
    gap: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .imgcontain{
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .container{
    width: 650px;
  }
  .icons img{
    width: 70px;
  }
}

@media only screen and (min-width: 992px){
  .container{
    width: 800px;
    height: 361px;
  }
  .icons img{
    width: 95px;
    margin-left: 60px;
    margin-right: 60px;
  }
  .imgcontain{
    flex-direction: column;
    gap: 30px;
  }
}

@media only screen and (min-width: 1200px) {

}