.bordercontain1,
.bordercontain2,
.bordercontain3,
.bordercontain4,
.bordercontain5,
.bordercontain6{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bordercontain1 a,
.bordercontain2 a,
.bordercontain3 a,
.bordercontain4 a,
.bordercontain5 a,
.bordercontain6 a{
  text-decoration: none;
}
.bordercontain1:hover,
.bordercontain2:hover,
.bordercontain3:hover,
.bordercontain4:hover,
.bordercontain5:hover,
.bordercontain6:hover{
  border-radius: 25px;
  transform: scale(1.05);
}
.bordercontain1:hover{
  box-shadow: 0 0 20px 10px #046ea7b9;
}
.bordercontain2:hover{
  box-shadow: 0 0 20px 10px #eaeaeac5 ;
}
.bordercontain3:hover{
  box-shadow: 0 0 20px 10px #d74234c9 ;
}
.bordercontain4:hover{
  box-shadow: 0 0 20px 10px #eaeaeac5;
}
.bordercontain5:hover{
  box-shadow: 0 0 20px 10px #a43289c4;
}
.bordercontain6:hover{
  box-shadow: 0 0 20px 10px #000000b8;
}
.subcontain{
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 600px){
  .subcontain{
    flex-direction: column;
  }
}