.container{
    max-width: 800px;
    height: auto;
    background-color: #262626;
    border-radius: 25px;
    color: white;
    display: flex;
    padding: 30px 0px 30px 0px;
    flex-direction: column;
    gap: 17px;
    overflow-x: hidden;
    justify-content: center;
}
.heyeveryone,
.paragraph{
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes slideInRight {
    from {
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
}
.heyeveryone{
    font-family: "Roboto Flex", sans-serif;
    font-weight: bold;
    margin-left: 30px;
}
.paragraph{
    font-family: "Questrial", sans-serif;
    margin-left: 30px;
    margin-right: 40px;
    line-height: 1.25;
    font-weight: lighter;
}
@media only screen and (max-width: 600px){
    .container{
        width: 300px;
        margin: 0px 21px 0px 21px;
        gap: 10px;
    }
    .paragraph{
        font-size: 15px;
    }
    .heyeveryone{
        font-size: 25px;
    }
}

@media only screen and (min-width: 600px){
    .container{
        width: 500px;
        margin: 0px 31px 0px 31px;
    }
    .paragraph{
        font-size: 20px;
    }
    .heyeveryone{
        font-size: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .container{
        width: 650px;
    }
}

@media only screen and (min-width: 992px){
    .container{
        width: 800px;
    }
    .paragraph{
        font-size: 20px;
    }
    .heyeveryone{
        font-size: 35px;
    }
}

@media only screen and (min-width: 1200px) {
    .paragraph{
        font-size: 22px;
    }
    .heyeveryone{
        font-size: 40px;
    }
}