.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.link1,
.link2{
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-family: "Lexend Tera", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  
}
.link1:hover,
.link2:hover{
  color: #ED3D3D;
  transform: scale(1.2);
  transition: color 0.2s,
              transform 0.2s;
}
.link1:active,
.link2:active{
  transform: scale(0.85);
  transition: transform 0.3s;
}
.rightarr,
.leftarr{
  font-size: 20px;
}
@media only screen and (max-width: 600px){
  .container{
    width: 250px;
    flex-direction: column;
    gap: 20px;
  }
}

@media only screen and (min-width: 600px){
  .container{
    width: 550px;
    flex-direction: row;
  }
}

@media only screen and (min-width: 992px){
  .container{
    width: 900px;
    flex-direction: row;
  }
}