.img{
    object-fit: cover;
    width: auto;
    max-width: 535px;
    height: auto;
    max-height: 619px;
    border-radius: 17px;
}
.imagecont{
    overflow: hidden;
}
.img{
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes slideInRight {
    from {
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
}
@media only screen and (max-width: 600px){
    .img{
        width: 330px;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 600px){

}

@media only screen and (min-width: 992px) {
    .img{
        width: auto;
    }
}

@media only screen and (min-width: 1200px){
    .img{
        width: 530px;
    }
}