.flex{
    display: flex;
}
.fontsize{
    font-size: 24px;
}
.lexend{
    font-family: "Lexend Tera", sans-serif;
}
.justifybtwn{
    justify-content: center;
}
.aligncenter{
    align-items: center;
}
.color{
    color: white;
}
.colormain{
    color: white;
}
.color:hover{
    color: #ED3D3D;
}
.square{
    width: 46px;
    height: 46px;
    background: #ED3D3D;
}
.radius{
    border-radius: 100%;
}
.deco{
    text-decoration: none;

}
.margin{
    margin: 15px 40px 30px 40px;
}
.margin1{
    margin: 5px 65px 30px 65px;
}
.transform:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}
.transform:active{
    transform: scale(0.85);
    transition: transform 0.3s;
}
.bold{
    font-weight: bold;
}
.gap{
    gap: 40px;
}
.marginleft{
    margin-left: 14px;
}
.fontsize2{
    font-size: 20px;
}
.flexlogo{
    display: flex;
}

@media only screen and (max-width: 600px){
    .flex{
        flex-direction: column;
    }
    .flexlogo{
        justify-content: center;
        align-items: center;
    }
    .fontsize2{
        font-size: 13px;
    }
    .gap3{
        gap:40px;
    }
    .gap{
        gap: 20px;
    }
}

@media only screen and (min-width: 600px){
    .flex{
        flex-direction: column;
    }
    .flexlogo{
        justify-content: center;
        align-items: center;
    }
    .gap3{
        gap: 40px;
    }
    .gap{
        gap: 20px;
    }
}

@media only screen and (min-width: 992px){
    .flex{
        flex-direction: row;
    }
    .gap{
        gap: 20px;
    }
}
@media only screen and (min-width: 1200px){
    .gap{
        gap: 40px;
    }
}